input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Lexend Peta", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#dark-mode-button {
  padding: 1vh;
  width: 6vh;
}

.container-xl {
  border: rgb(172, 172, 172) solid 0.1vh;
  border-radius: 1%;
  padding: 0;
  margin-top: 3vh;
  transition: border-color 0.3s ease;
}

.inner-container {
  border-top: rgb(172, 172, 172) solid 0.1vh;
  padding: 1vh;
  transition: border-top-color 0.3s ease;
}

.row {
  padding: 1vh;
}

input,
select {
  width: 100%;
  height: 5vh;
  font-size: 2rem;
}

h1,
h3 {
  text-align: center;
  padding: 1vh;
}

h1 {
  font-size: 10vh;
  padding: 3vh;
  padding-bottom: 0;
  margin: 0;
}

h3 {
  font-size: 2.5vh;
  padding-bottom: 2vh;
}

#input-amount,
#opciones-from,
#opciones-to {
  border: rgb(172, 172, 172) solid 0.1vh;
}

.button-calculate {
  width: 98.5%;
  height: 6vh;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  border: rgb(172, 172, 172) solid 0.1vh;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-calculate:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}

.results-box {
  width: 98.5%;
  height: 30vh;
  padding: 1vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  border: rgb(172, 172, 172) solid 0.1vh;
  background-color: white;
  color: black;
}

.box-empty-text {
  text-align: center;
  font-size: 2.5vh;
  padding-top: 10vh;
}

.base-currency-amount {
  text-align: center;
  font-size: 2.5vh;
  padding-top: 5vh;
}

.final-result-amount {
  text-align: center;
  font-size: 10vh;
  font-weight: bold;
  padding-top: 0vh;
}

.credits {
  margin-top: 5vh;
  text-align: center;
}

.body-dark-mode {
  background-color: #121212;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.inner-container-dark-mode {
  border-top: rgb(255, 255, 255) solid 0.1vh;
  transition: border-top-color 0.3s ease;
}

.container-dark-mode {
  border: rgb(255, 255, 255) solid 0.1vh;
  transition: border-color 0.3s ease;
}

.input-dark-mode {
  border: rgb(255, 255, 255) solid 0.1vh;
  background-color: #121212;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.input-dark-mode:focus {
  background-color: #6e6e6e;
  border-color: white;
  color: white;
  outline: none;
}

.input-dark-mode::placeholder {
  color: white;
}

.select-dark-mode {
  border: rgb(255, 255, 255) solid 0.1vh;
  background-color: #121212;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-dark-mode {
  color: white;
  background-color: #121212;
  border: rgb(255, 255, 255) solid 0.1vh;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-dark-mode:hover {
  color: white;
  background-color: #6e6e6e;
  border: rgb(255, 255, 255) solid 0.1vh;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.results-box-dark-mode {
  background-color: #121212;
  color: white;
  border: rgb(255, 255, 255) solid 0.1vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}
